<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toyota</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script
      src="https://kit.fontawesome.com/544876a7ca.js"
      crossorigin="anonymous"
    ></script>
</head>

<body>
    <header>
        <img id="logo" src="../public/images/gogogogogogogogogog.webp" alt="">
        <ul>
            <li><a href="#mas-vendidos"> Más vendidos</a></li>
            <li><a href="#nuevos"> Nuevos </a></li>
            <li><a href="#ofertones"> Ofertones</a></li>
            <li><a href="#mas-buscados"> Más buscados</a></li>
        </ul>
        <form action="">
            <input type="search" placeholder="Buscar carro......">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </header>
    <main>
    <h2 id="mas-vendidos">Más vendidos</h2>
        <section>
            <article>
                <img class="imagen-carro" src="../public/images/descarga.jfif" alt="">
                <h2>toyota supra mk5</h2>
                <p>200000$</p>
            </article>
            <article>
                <img class="imagen-carro" src="../public/images/images (1).jfif" alt="">
                <h2> toyota hilux 2024</h2>
                <p>55000$</p>
            </article>
            <article>
                <img class="imagen-carro" src="../public/images/otra imagen xd.jfif" alt="">
                <h2> toyota corolla 2024</h2>
                <p>50000$</p>
            </article>
        </section>
        <h2 id="nuevos">Nuevos</h2>
        <section>
        <article>
            <img class="imagen-carro" src="../public/images/yaris.jfif" alt="">
            <h2>toyota yaris 2024</h2>
            <p>450000$</p>
        </article>
        <article>
            <img class="imagen-carro" src="../public/images/4runner.jfif" alt="">
            <h2>toyota 4runner 2024</h2>
            <p>60000$</p>
        </article>
        <article>
            <img class="imagen-carro" src="../public/images/supra mk4.jfif" alt="">
            <h2>toyota supra mk4 2002</h2>
            <p>160000$</p>
        </article>
    </section>
    <h2 id="ofertones">Ofertones</h2>
    <section>
        <article>
            <img class="imagen-carro" src="../public/images/prado 2024.jfif" alt="">
            <h2>toyota landcruiserprado 2024</h2>
            <p>70000$</p>
        </article>
        <article>
            <img class="imagen-carro" src="../public/images/prado 2023.jfif" alt="">
            <h2>landcruiserprado 2023</h2>
            <p>55000$</p>
        </article>
        <article>
            <img class="imagen-carro" src="../public/images/prado2023.jfif" alt="">
            <h2>fortuner 2024</h2>
            <p>65000$</p>
        </article>
    </section>
    <h2 id="mas-buscados">Más buscados</h2>
    <section>
        <article>
            <img class="imagen-carro" src="../public/images/lc300.jfif" alt="">
            <h2>toyota landcruiserprado 300</h2>
            <p>100000$</p>
        </article>
        <article>
            <img class="imagen-carro" src="../public/images/lc200.jfif" alt="">
            <h2>toyota landcruiserprado 200 </h2>
            <p>60000$</p>
        </article>
        <article>
         <img class="imagen-carro" src="../public/images/yaris gr.jfif" alt="">
         <h2>toyota yaris gr 2024</h2>
         <p>35000$</p>
        </article>
    </section>

    </main>
    <footer>
        <div>
            <img id="logo" src="../public/images/gogogogogogogogogog.webp" alt="">
            <ul>
                <li>Facebook</li>
                <li>X</li>
                <li>Whatsapp</li>
                <li>Discord</li>

            </ul>
        </div>
        <p>Toyota 2024 todos los derechos reservados.</p>


    </footer>


</body>

</html>